[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/mmibordeaux-hugo-theme"]
	path = themes/mmibordeaux-hugo-theme
	url = git@github.com:mmibordeaux/mmibordeaux-hugo-theme.git
